body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
}

#create-btn{
  padding: 0;
  border: 100px;
  overflow: hidden;
  background: url("../images/new-sign.jfif");
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  background-repeat:no-repeat;
  background-size: 80% 80%;
  border-radius: 50%;
  background-position: center;
  width: 43px;
  margin: 20px;
  height: 45px;
  position: fixed;
  right: 0;
  bottom: 0;
}

#submit-btn{
  padding: 0;
  border: 100px;
  overflow: hidden;
  background: url("../images/tick.jfif");
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  background-repeat:no-repeat;
  background-size: 62% 62%;
  border-radius: 50%;
  background-position: center;
  width: 50px;
  height: 45px;
  background-color: white;
}



.float-container{
  display: flex;
  gap:15px;
}

input{
  border-radius: 20px;
  width: 90%;
  margin: 7px auto;
  font-family: Arial, Helvetica, sans-serif;
  padding: 7px 5px;
  text-indent: 5px;
}

#create-window{
  display: none;
}

#create-window, #create-window form{
  width: 330px;
  height: 230px;
}

#create-window form{
  padding: 16px;
  backdrop-filter: brightness(85%);
  border-radius: 20px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;

}

#month-ul{
  list-style: none;
  font-size: 28px;
}

.calendar{
  display: block;
  list-style: none;
  padding: 0;
  width: 300px;
  height: 400px;
  font-size: 18px;
}

.calendar p{
  box-sizing: border-box;
  display: inline-block;
  list-style: none;
  padding: 2px;
  width: 30px;
  height: 30px;
  text-align: center;
  background-color: lightgrey;
  border-radius: 20px;
  margin: 5px;
  
}

.calendar .special{
  background-color: lightgreen;
}
